<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
</head>
<body>
<header>
    <h1>LITReview</h1>
</header>

<nav>
    {% if user.is_authenticated %}
    <li><a href="{% url 'flux' %}">Accueil</a></li>
    <li><a href="{% url 'display_posts' %}">Posts</a></li>
    <li><a href="">Abonnements</a></li>
    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
    {% endif %}
</nav>
{% block content %}{% endblock content %}

</body>
</html>
