{% load review_extras %}

<div class="div_review_snippet">
    {% if review.user == user %}
        <p><strong>{% get_poster_display review.user %}</strong> avez publié une critique.</p>
    {% else %}
        <p><strong>{% get_poster_display review.user %}</strong> a publié une critique.</p>
    {% endif %}

    <p>{{ review.date_created }}</p>
    <!-- <a href="{% url 'edit_review' review.id %}"> -->
       <p>{{ review.headline }}  -  

           {% for rating in ''|center:review.rating %}
           ⭐️
           {% endfor %}
           {% if review.rating == 0 %}
           👎 😰 Ce livre ne possède aucune étoile...
           {% endif %}

       </p>
    <p>{{ review.body }}</p>
    <div class="div_ticket_from_review">
        <p>Ticket - {{ review.ticket.author }}</p>
        <p>{{ review.ticket.headline }}</p>
        <img src="{{ review.ticket.photo.url }}" alt="photo du livre">
    </div>
</div>