{% load review_extras %}

<div class="div_ticket_snippet">
    <p>{{ ticket.date_created }}</p>
    {% if ticket.author == user %}
        <p><strong>{% get_poster_display ticket.author %}</strong> avez demandé une critique</p>
    {% else %}
        <p><strong>{% get_poster_display ticket.author %}</strong> a demandé une critique</p>
    {% endif %}

    <p>{{ ticket.headline }}</p>

    <p>{{ ticket.body }}</p>
    <img src="{{ ticket.photo.url }}">
    {% if ticket.state == 'UNREVIEWED' %}
    <p>
        <a href="{% url 'create_review' ticket.id %}">
            <button>créer une critique</button>
        </a>
    </p>
    {% endif %}
</div>