{% extends 'base.html' %}
{% block content %}
<h2>Voici vos Posts</h2>
<h2>Tickets</h2>
<div>
    {% for ticket in tickets %}
    <div>
        <p>Vous avez publié une critique</p>
        <p>{{ ticket.date_created }}</p>
        <p>{{ ticket.headline }}</p>
        <p>{{ ticket.body }}</p>
        <img src="{{ ticket.photo.image.url }}">
        <div>
            <div>
                <a href="{% url 'edit_ticket' ticket.id  %}"><button>modifier</button></a>
            </div>
            <div>
                <form method="post">
                    {{ delete_form }}
                    {% csrf_token %}
                    <button type="submit" >Supprimer</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<h2>Reviews</h2>
<div>
    {% for review in reviews %}
        <div>
            <div>
                <p>Vous avez publié une critique</p>
                <p>{{ review.date_created }}</p>
                <p>{{ review.headline }} - 
                    {% for rating in ''|center:review.rating %}
                    ⭐️
                    {% endfor %}
                    {% if review.rating == 0 %}
                    👎 😰 Ce livre ne possède aucune étoile...
                    {% endif %} 
                </p>
                <p>commentaire : {{ review.body }}</p>
            </div>
            <div>
                <p>Ticket - Vous</p>
                <p>{{ review.ticket.date_created }}</p>
                <p>{{ review.ticket.headline }}</p>
                <img src="{{ review.ticket.photo.image.url }}">
            </div>
            <div>
                <a href="{% url 'edit_review' review.id %}"><button>modifier</button></a>
            </div>
            <div>
                <form method="post">
                    {{ delete_form }}
                    {% csrf_token %}
                    <button type="submit" >Supprimer</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}