{% extends 'base.html' %}
{% block content %}
<h2>Voici vos Posts</h2>
<h2>Tickets</h2>
<div>
    {% for ticket in tickets %}
        <div class="post">
            <a href="{% url 'display_ticket' ticket.id %}">
                <h4>Ticket : {{ ticket.headline }}</h4>
                <img src="{{ ticket.photo.image.url }}">
            </a>
        </div>
    {% endfor %}
</div>
<hr>
<h2>Reviews</h2>
<div>
    {% for review in reviews %}
        <div class="post">
            <a href="{% url 'display_review' review.id %}">
                <h4>Review : {{ review.headline }}</h4>
                <img src="{{ review.ticket.photo.image.url }}">
            </a>
                <p>commentaire : {{ review.body }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}