{% extends 'review/base.html' %}
{% block content %}
    <h2>Modifier le Ticket</h2>
    <div class="div_ticket_snippet">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ edit_form.as_p }}</p>
            <p><img src="{{ photo_url }}" ></p>
            <p><label><input  type="file" name="photo"></label></p>
            <p><button type="submit" >Sauvegarder</button></p>
        </form>
    </div>
    <hr>
    <h3>Supprimer le Ticket ?</h3>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
        <button type="submit" >Envoyer</button>
    </form>
{% endblock content %}