{% extends  'base.html' %}
{% load review_extras %}
{% block content %}
{% csrf_token %}
<p><a href="{% url 'create_ticket' %}"> Créer un ticket</a></p>
<p><a href="{% url 'create_review_and_ticket' %}"> Créer une critique</a></p>


<h2>Feed :</h2>
    {% for instance  in tickets_and_reviews %}
    <div>
        {% if instance|model_type == 'Ticket' %}
            {% include 'review/partials/ticket_snippet.html' with ticket=instance %}
        {% elif instance|model_type == 'Review' %}
            {% include 'review/partials/review_snippet.html' with review=instance %}
        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}