{% extends  'base.html' %}
{% load review_extras %}
{% block content %}
{% csrf_token %}
<p><a href="{% url 'create_ticket' %}"> Créer un ticket</a></p>
<p><a href="{% url 'create_review_and_ticket' %}"> Créer une critique</a></p>


<h2>Feed :</h2>
    {% for instance  in page_obj %}
    <div>
        {% if instance|model_type == 'Ticket' %}
            {% include 'review/partials/ticket_snippet.html' with ticket=instance %}
        {% elif instance|model_type == 'Review' %}
            {% include 'review/partials/review_snippet.html' with review=instance %}
        {% endif %}
    {% endfor %}
    </div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">« première</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}
    
        <span>
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante</a>
            
            <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
        {% endif %}
    </span>
{% endblock content %}