{% extends "base.html" %}

{% block content %}

<div>
    {{ following }}
</div>

<div>
    <h3>Suivre d'autres utilisateurs</h3>
    <div>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form %}
            <p>
                <h3>{{field.label}}</h3>
                {{field}}
                <br>
            </p>
            <input class="element" type="submit" value="Suivre">
            {% endfor %}
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <h3>Abonnements</h3>

    <div>

        {% if user_follows %}

            {% for user_follow in user_follows %}
                <div>
                    <div>{{ user_follow.followed_user }}</div>
                    <button type="submit"><a href="{% url 'unsubscribe' followed_user_id=user_follow.followed_user_id %}">Se désabonner</a></button>
                </div>
            {% endfor %}

        {% else %}

        <p>Vous n'êtes abonné à aucun utilisateur</p>

        {% endif %}
    </div>

    <h3>Abonnés</h3>

    <div>

        {% if followers %}

            {% for follower in followers %}
            <div>
                <div>{{ follower.user }}</div>
            </div>
            {% endfor %}

        {% else %}

        <p>Personne ne suit votre profil</p>

        {% endif %}

    </div>
</div>

{% endblock content%}